.nav_bar{
    height: 45px;
    background-color: darkorange;
    position: sticky;
    top:10px;
}

.nav_list{
    list-style-type: none;
}

.nav_item a{
    float: left;
    padding: 10px;
    color:white;
    text-decoration:none;
}
.nav_item a:hover{
     color:pink
}

.nav_item a:active{
    font-weight: bold;
}

.logout{
    float:right;
    margin-right: 10px;
    margin-top:3px;
    
}
.selected{
    display: inline-block;
    width: 90px;
    background-color: purple;
}