.sidebar{
    width: 150px;
    background-color: darkorange;
    flex:0 0 15%;
    min-height: 100vh;
    }

.sidebar a{
    display: inline-block;
    width: 130px;
    text-decoration: none;
    color:white;
    padding: 10px;

}

.sidebar a:hover{
    color:pink
}

.sidebar a:active{
   font-weight: bold;
}